<div class=" table-grid">

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th scope="col">Total Points Possible</th>
        <th scope="col">Total Points Received</th>
        <th scope="col">Total Percentage</th>
        <th scope="col">Final Grade</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td>Lucas Phan</td>
        <td>450</td>
        <td>350</td>
        <td>.77</td>
        <td>C</td>
      </tr> -->
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.pointsPossible}}</td>
        <td>{{data.pointsReceived}}</td>
        <td>{{data.percentage}}</td>
        <td>{{data.grade}}</td>
      </tr>
    </tbody>
  </table>
</div>
