<div class=" table-grid">

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th scope="col">Total Points Possible</th>
        <th scope="col">Total Points Received</th>
        <th scope="col">Total Percentage</th>
        <th scope="col">Final Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">{{data.name}}</td>
        <td scope="row">{{data.totalPointsPossible}}</td>
        <td scope="row">{{data.totalPointsReceived}}</td>
        <td scope="row">{{data.totalPercentage}}</td>
        <td scope="row">{{data.finalGrade}}</td>
      </tr>
    </tbody>
  </table>
</div>
